

	<div class="report">		

			<!-- <div ng-repeat="j in allData track by $index">

			  	<div ng-click="popover()" ng-mouseleave="hidePopover()" ng-if="j.media_size == 'big' " class="grid-item grid-item--width2 grid-item--height2">

			  		<div class="popse" ng-show="popoverIsVisible">
			  			<div class="popse-header">Tweet</div>

			  			<div class="popse-tweet">
			  				{{j.tweet}}
			  			</div>
			  		 </div>

			  		<img class="img-responsive all_img" src="{{j.media_url}}" />

			  	</div>
			</div> -->
			  
			</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="card">

                    <div class="lv-header-alt clearfix">
                        <h2 class="lvh-label hidden-xs"></h2>   
                    </div>
             
                    <div class="card-body card-padding">                     
                        <div class="lightbox photos">
             
                            <div ng-if="j.media_size == 'big' " class="col-md-2 col-sm-4 col-xs-6" ng-repeat="j in allData track by $index">

                                 <div class="lightbox-item p-item">
                                     <img class="img-responsive all_img" src="{{j.media_url}}" alt="" />
                                 </div>
                            </div>
                        </div>
             
                        <div class="clearfix"></div>
                    </div>
                </div>

			</div>

		</div>

		<div class="row">

			<div class="col-sm-6">
				<div class="card main-graph">
	                <div class="card-header">
	                    <h2>Followers Count</h2>
	                </div>
	                        
	                <div class="card-body">
	                    <div class="chart-edge">
	                        	<div id="chart"></div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="col-sm-6">

				<div class="card">
                    <div class="card-header">
                        <h2>Platform Distribution</h2>
                      
                    </div>
                    
                    <div class="card-body">
                        <div id="chart1"></div>
                    </div>
                   
                </div>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-12">

				<div class="card">
	                <div class="card-header ch-alt m-b-20">
	                    <h2>Tweets ({{allData.length}})</h2>
	                   
	                </div>
	                
	                <div class="card-body">
	                    <div class="listview">

	                        <div class="lv-item" ng-repeat="j in allData track by $index">
	                            <div class="media row">

	                                <div class="pull-left col-sm-1 no-pad" style="text-align:center;">
	                                    <img class="lv-img-sm" src="{{j.profile_image}}" alt="">
	                                </div>

	                                <div class="media-body col-sm-10 tweet-body-parent no-pad">
	                                    <span class="lv-title">{{j.name}}- </span>
	                                    <span class="tweet-body">{{j.tweet}} </span>
	                                </div>

	                                <div class="col-sm-1 tweet-date">
	                                	<a target="_blank"><button class="btn primary" ng-click="showTweet(j.screen_name, j.id )" >View</button></a>
	                                	
	                                </div>
	                            </div>
	                            <div class="row" style="margin-left: 100px; text-align:center;">

	                            	<div ng-if="j.location" class="col-md-3" style="border-right: 1px #ddd solid; border-bottom: 1px #ddd solid; padding: 5px;">
	                            		<i class="fa fa-location-arrow" aria-hidden="true"></i>{{j.location}}

	                            	</div>
	                            	<div class="col-md-2" style="border-bottom: 1px solid #ddd; border-right:1px #ddd solid; padding: 5px;">
	                            		<span>{{j.date}}</span>
	                            	</div>
	                            	<div class="col-md-2" style="border-bottom: 1px solid #ddd; border-left:1px #ddd solid; padding: 5px;">
	                            		<span><i class="fa fa-heart-o" aria-hidden="true"></i> {{j.favourites_count}}</span>
	                            	</div>


	                            </div>
	                        </div>
	                        
	                       <!--  <a class="lv-footer" href="">View All</a> -->
	                    </div>
	                </div>
	            </div>
			</div>

		</div>

	</div>

	



