<!DOCTYPE html>
<html lang="en" ng-app='tweet'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="anurag kumar">

    <title>Twitter Stats--</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <link href="http://bootswatch.com/lumen/bootstrap.css" rel="stylesheet">
 <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    
    <link href="frontend/static/css/select.min.css" rel="stylesheet">
    <link href="frontend/static/css/c3.min.css" rel="stylesheet">
    <link href="frontend/static/css/custom.css" rel="stylesheet">
   
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
   

    <!-- <script src="frontend/static/js/lib/modernizr.custom.js"></script> -->

</head>

<body >

    <div class="index container">
         <div class="head"><h2>Twitter Feed Analysis</h2> </div>

            <ui-view></ui-view>

    </div>

    <script src="frontend/static/js/lib/jQueryv2.1.js"></script>
    <script src="frontend/static/js/lib/bootstrap.min.js"></script>

    <script src="frontend/static/js/dist/angular.js"></script>
    <script src="frontend/static/js/dist/angular-ui-router.js"></script>

    
    <script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/controller.js"></script>
    <script type="text/javascript" src="static/js/service.js"></script>
    <script type="text/javascript" src="static/js/dist/loading-bar.js"></script>
    <script src="frontend/static/js/dist/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>

    <script src="//underscorejs.org/underscore.js"></script>
    <script src="frontend/static/js/lib/select-tpls.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>

    <script src="frontend/static/js/dist/c3.js"></script>
   
   
   
 
</body>

</html>
