
    <!--Home Screen-->
<span class='page1'>
        <header class='row outer-wrapper white-bg'>
            <div class="container">
                <div class="col-md-8 col-lg-8">
                    <h1 class="dark">
                        Anurag
                    </h1>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <ul class="social-bar-black">
                      <li><a class="btn-social fa fa-facebook" href="http://facebok.com/exploretheweb" title="Facebook" target="_blank"></a></li>
                      <li><a class="fa btn-social fa-twitter" href="http://twitter.com/ak_8085" title="Twitter" target="_blank"></a></li>
                    <li><a target="_blank" title='LinedIn' href="https://www.linkedin.com/in/ak8085" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    <li><a target="_blank" title="Github" href="http://github.com/anurag619" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                    </li>
                      
                    </ul>
                    
                </div>
                
            </div>
        </header>

        <!--Navigation-->
        <nav class='row'>
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <a class="small-navi about page-transition" href="#about" onclick="gotoPageWithTrans1(1)" title="About"><i class="navi-icons fa fa-bookmark-o fa-3x" style='margin-left: 35%; margin-bottom: 5%;'></i><p>About</p></a>
                        
                        <a class="icon small-navi team page-transition" href="#team" onclick="gotoPageWithTrans1(2)" title="---"><i class="navi-icons fa fa-terminal fa-3x" style='margin-bottom: 5%;'></i><p>Projects</p></a>
                        
                        <a class="icon middle-navi resume" href="#" title="Resume" target="_blank"><i class="navi-icons fa fa-download fa-4x"></i>Resume</a>
                            
                    </div>

                    <div class="col-md-4">
                        <a class="icon big-navi works page-transition" href="#works" onclick="gotoPageWithTrans1(3)" title="What Do I do?"><i class="navi-icons fa fa-briefcase fa-5x"></i></a>
                    </div>

                    <div class="col-md-4">
                        <a class="middle-navi contacts page-transition" href="#contacts" onclick="gotoPageWithTrans1(4)" title="Contacts"><i class="navi-icons fa fa-book fa-3x" style='margin-left: 35%;'></i>Books</a>

                        <a class="small-navi blog page-transition" href="http://blog.anuragkr.in" onclick="gotoPageWithTrans1(5)" title="Blog"><i class="navi-icons fa fa-pencil fa-3x" style='margin-left: 35%;'></i><p>Blog</p></a>
                        
                        <a class="small-navi feedback page-transition" href="#feedback" onclick="gotoPageWithTrans1(6)" title="Feedback"><i class="navi-icons fa fa-envelope-o fa-3x" style='margin-left: 35%;'></i><p>Contact</p></a>
                    </div>
                    
                </div>
                
            </div>
            
        </nav>
</span>

    
    
    <!-- Footer -->
<footer class="text-center">
        
</footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

   